.selection {
  height: 50%;
  padding: 0.5rem;
  margin: auto 1rem;
}

.places-container {
  display: flex;
}

.map-svg {
  width: 60%;
  border-right: 1px solid grey;
}

.map-info {
  padding: 0 1rem;
  width: 40%;
  max-height: 100%;
}

/* add inner padding later on? */
.leader-list {
  overflow: auto;
  list-style-type: none;
  padding: 0.5rem;
  max-height: 15rem;
  /* border: 1px solid black; */
  border-radius: 20px;
  /* box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; */
}
